// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top: var(--spacer);
  padding-bottom: var(--spacer);
  margin-bottom: var(--spacer-3);
}

.masthead-title {
  margin-bottom: 0;

  a {
    color: var(--heading-color);
    text-decoration: none;
  }

  small {
    font-weight: 400;
    opacity: .5;
  }
}

// Navbar styles
.nav {
  float: right;
  line-height: 1.25rem;
  word-spacing: 1rem;

  small:hover{
    opacity: .8;
  }

  small.active {
    opacity: .8;
  }
}

#logo {
  margin-bottom: -6px;
  margin-top: -35px;
}

#logo .cls-1 {
  fill: #3af1ef;
}

@keyframes colorChange {
  0%{fill:#3af1ef}
  20%{fill:#3af158}
  40%{fill:#94f13a}
  60%{fill:#f1d93a}
  80%{fill:#f17b3a}
}

@keyframes floatBalloon {
  20% { 
    margin-bottom: -8px;
    height: 34px;
    transform: rotate(-3deg);
  }
  60% { 
    margin-bottom: -2px;
    height: 36px;
    transform: rotate(6deg);
  }
}

@keyframes floatBalloonMore {
  50% { 
    margin-bottom: 4px;
    height: 38px;
    transform: rotate(14deg);
  }
}

#logo {
  animation: floatBalloon ease-in-out 5s;
}

#balloon:checked + label #logo {
  animation: floatBalloonMore 3s ease-in-out infinite;
}

#balloon:checked + label #logo .cls-1 {
  animation: colorChange 1s infinite;
}