// Posts and pages
//
// Each post is wrapped in `.post` and is used on default and post layouts. Each
// page is wrapped in `.page` and is only used on the page layout.

.page,
.post {
  margin-bottom: 4em;

  li + li {
    margin-top: .25rem;
  }
}

// Blog post or page title
.page-title,
.post-title {
  color: var(--heading-color);
}
.page-title,
.post-title {
  margin-top: 0;
  margin-bottom: var(--spacer);
}
.post-title a {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

// Meta data line above post title
.post-metadata {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  color: var(--gray-600);
}

.post-metadata span:before {
  content: "\02022";
  padding: 0 0.3rem;
}


// Related posts
.related {
  padding-top: var(--spacer-2);
  padding-bottom: var(--spacer-2);
  margin-bottom: var(--spacer-2);
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.related-posts {
  padding-left: 0;
  list-style: none;

  h3 {
    margin-top: 0;
  }

  a {
    text-decoration: none;

    small {
      color: var(--gray-600);
    }
  }
}


.posts .post {
  margin: 0;
  padding: 1em 0;
  display: flex;
  align-items: center;
}

.post+.post {
  border-top: 1px solid var(--border-color);
}

.posts .post .post-title {
  flex-grow: 1;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 1em;
}

.posts .post .reading-time, .posts .post .post-date, .posts .post .post-tags {
  color: var(--gray-600);
  display: flex;
  white-space: nowrap;
}

.posts .post .post-tags {
  background-color: var(--code-bg);
}

.posts .post .post-date {
  text-transform: uppercase;
}
